body,
html {
  height: 100%;
  margin: 0;
}

.background-image {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  /* padding: 10px; */
}

.profile-picture img {
  width: 180px;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.profile-info {
  flex: 2;
  /* padding: 20px; */
}

.profile-info h1 {
  margin: 0;
  font-size: 40px;
}

.profile-info p {
  margin: 10px 0;
  font-size: 18px;
}

.media-links {
  margin-top: 15px;
}

.media-links a {
  margin-right: 10px;
  text-decoration: none;
  color: antiquewhite;
  font-size: 20px;
}

.media-links a:hover {
  text-decoration: underline;
}
